
.sombra{
    box-shadow: 2px 2px 5px #999;
   
}

.padd{
    padding-right: 5%
}

.contenedor{
    padding-bottom: 5%;
}

.abajo{
   margin-bottom: 200px;
}

    textarea.form-control {
    max-width: 100%;
    min-width: 100%;
}

.area{
    max-width: 80%;
    min-width: 80%;
    
       
}
@media only screen and (max-width: 1000px){
    
    .padd{
        padding-right: 0;
    }
}
