
.sombra{
    box-shadow: 2px 2px 5px #999;
    margin-top: 20px;
    background-color: #e0f3fe    
}

.padd{
    padding-right: 5%
}

@media only screen and (max-width: 1000px){
    .padd{
        padding-right: 0;
    }
}